body {
    font-family: Circular, Calibre, Recta, Graphik;
}

#textPhrase {
    font-size: 24px;
}

#practice-jumbo {
    padding-bottom: 0px;
}

.thumbnail {
    background-color: #f5eee1;
}

#thumbBord1, #thumbBord2 {
    border: none;
    text-align: center;
}

img{
    border: none;
    text-align: center;
    background-color: #f5eee1;
}

#round{
    height: 50px;
}

#timer {
    height: 30px;
}

#userStatus{
    height: 60px;
}

#fontH2 {
    font-size: 24px;
}