body {
	text-align: center;
	background-color: #f5eee1;
}

.jumbotron {
	margin: 0 auto;
	padding-top: 0px;
	max-width: 100%;
	background-color: #f5eee1;
	text-align: center;
}

img {
	padding: 20px;
	background-color: #f5eee1;
}

#title-container {
	position: relative;
}

#login-container {
	margin: 0 auto;
	background-color: #f5eee1;
	padding: 20px;
	height: 334px;
	width: 506px;
	max-width: 75%;
}

#sign-up {
	margin: 0 auto;
	width: 506px;
	max-width: 75%;
	text-align: center;
	color: black;
	margin-top: 5px;
	padding-left: 5px;
}

label {
	text-align: left;
}

input {
	width: 250px;
}

#vox-title {
	font-size: 150px;
	font-family: 'Bungee Shade';
}
