body {
	background-color: white;
	text-align: center;
	background-color: #f5eee1;
}

.jumbotron {
	margin: 0 auto;
	padding-top: 0px;
	width: 960px;
	max-width: 95%;
	background-color: #f5eee1;
}

img {
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	border: 3px solid black;
}

#title-container {
	position: relative;
	background-color: #f5eee1;
}

#login-container {
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	height: 334px;
	width: 506px;
	max-width: 75%;
	border-radius: 20px;
	border: 3px solid black;
}

#sign-up {
	margin: 0 auto;
	width: 506px;
	max-width: 75%;
	text-align: left;
	color: black;
	margin-top: 5px;
	padding-left: 5px;
}

label {
	text-align: left;
}

input {
	width: 250px;
}

#vox-title {
	font-size: 150px;
	font-family: 'Rokkitt', serif;
}

#royale-badge {
	position: absolute;
	text-decoration: underline;
	left: 420px;
	top: 65px;
	font-size: 75px;
	font-family: 'Yesteryear', cursive;
    transform: rotate(-15deg);
    color: gold;
}