body {
        font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

#nav {
    font-family: 'Varela Round', sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
}

#textPhrase {
    font-size: 24px;
    height: 80px;
}

#inputPhrase {
    height: 100px;
}

#topJumbo1, #topJumbo2{
    background-color: white;
    text-align: center;
}

#game-jumbo {
    position: relative;
    padding-bottom: 0px;
}

#game-modal.game-modal-hidden {
    position: absolute;
    margin: 0 auto;
    display: none;
}

#game-modal.game-modal-shown {
    position: absolute;
    background-color: #f5eee1;
    left: 0;
    right: 0;
    margin: auto;
    top: -100px;
    z-index: 99;
    width: 75%;
    height: 350px;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.thumbnail {
    border: none;
    background-color: #f5eee1;
}

#thumbBord1, #thumbBord2 {
    text-align: center;
}

.thumbnail.recording {
    border: 2px solid black;
}

img{
    border: none;
    text-align: center;
    background-color: #f5eee1;
    max-width: 100%;
}

#roundHeight{
    height: 90px;
}

#timer {
    height: 30px;
}

#timerText {
    margin-top: 0px;
}

#userStatus {
    height: 60px;
}

#fontH2 {
    font-size: 24px;
}

/*hack to get around the background not being dismissed*/
.modal-backdrop.fade.show {
    display: none !important;
}