#navBarColor {
    background-color: #f5eee1;
   color: #f5eee1;
    border: none;
}
#brandName {
    color: #f5eee1;
    pointer-events: none;
    cursor: default;
     
}
#linkColor {
    color:#f5eee1; 
}
#linkColor:hover { 
    color: black;
}
